/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-Apr-2017, 10:54:43
    Author     : Alejandro.Joltkevich
*/
@import url('https://fonts.googleapis.com/css?family=Quicksand');

#login, #registerForm {
margin-top:3%;
border:1px solid black;
border-radius:8px;
color:white;
background-image:url("../imgs/redeemForm.jpg");
background-size:cover;
background-repeat:no-repeat;
padding-top:8px;
font-family: 'Roboto', sans-serif;
padding-bottom:8px;
}
#meetpng{
    position: relative;
    width: 150px;
    height: 50px;
}
#nav {
background-image:url("../imgs/redeem.jpg");
background-size:cover;
background-repeat:no-repeat;
color:white;
height: 52px;
}
#submit {
margin-left:2%;
margin-bottom:10px;
font-weight:700;
width:48%;
position: relative;
left:24%;
}
#register {
width:48%;
margin-bottom:10px;
}
#email {
width:60%;
}
#navUl li {
background-image:inherit;
background-color:inherit;
color:orangered;
}
#navUl li:hover {
background-color:#F9DA84;   
transition:0.4s; 
    }
#nav a {
font-family: 'Roboto', sans-serif;
color:White;
}
.navbar-brand {
font-size:20px;
}
#brand {
font-size:25px;
}
body,html{
font-family: 'Roboto', sans-serif;
overflow-x: hidden;
height: 100%;
}
#Name, #LastName, #Title{
    margin-bottom: 17px;
    width: 98%;
    transition: 0.5s;

}
#locations, #right{
    height:137.5px;

}
#newEmail, #newPass{
    width: 96%;
    margin-left: 15px;
    transition: 0.5s;
}
#submit2{
    width: 96%;
    margin-left: 15px;
    font-weight: 800;
}
input{
    transition: 0.4s;
}

#buttonLog,#profile,#logout{
    transition: 0.4s;
}
#buttonLog:hover,#profile:hover,#logout:hover{
    background-color: #286090;
    border-color: #204d74;
}
#profile{
    width: 100%;
}
#log {
    display: none;
    height: 95%;
}
#RightBar {
 position: relative;
 right: 0;
 top:-6px;
}

#RightBar li a{
 width: 100%;
 transition: 0.5s;
 background-color: #286090;
 color:white;
 text-align: center;
}
#RightBar li a:hover{
 background-color: #286090;
border-color: #204d74;
}

#ProfileName{
    height: 56px;
}
#menu{
    background-color: rgba(0,0,0,0);
    padding: 0;
    left:-20px;
    box-shadow:0 0px 0px rgba(0,0,0,0);
    border: 0px solid black;
    top: 60px;
}
#menu li a{
    width: 70%;
    padding: 6px;
    position: relative;
    right: 15%;
    margin: auto;
}
td{
    max-width: 150px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 65px;
    padding: 3px;
    height: 65px;
}
.table tbody td{
    color:white;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    
}
.table th{
        font-weight: 900;
}
#nex, #prev{
    width: 100px;
    color: black;
    font-weight: 600;
    position: relative;
}
#nex{
    float: right;
}
#render{
    position: relative;
    top: -15px;
    width: 100%;
    
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
        max-width: none;
        padding: 3px;
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
        max-height: none;
        height: auto;
	}
	
	td:after { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
    
    td .btn-danger{
        position: relative;
        left:36%;
        width: 30%;
    }
    
    td:nth-of-type(1):before { content: "Creator:  ";}
	td:nth-of-type(2):before { content: "Location: "; }
	td:nth-of-type(3):before { content: "Room: "; }
	td:nth-of-type(4):before { content: "Date: "; }
	td:nth-of-type(5):before { content: "Time from: "; }
	td:nth-of-type(6):before { content: "Time to: "; }
	td:nth-of-type(7):before { content: "People attending: "; }
	td:nth-of-type(8):before { content: "Notes: "; }
}
#pass,#newPass{
    margin-top: 8px;
}
#newuser{
    border: 1px solid black;
    margin: auto;
    border-radius: 8px;
    background-color: #f0ad4e;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
}
#newuser a {
    margin-left: 17.2%;
}
#errorDiv{
    margin-top: 8px;
}
#emailDiv{
    padding-top: 50px;
}
#navUl li span{
    display: none;
}
@media only screen and (max-width: 767px) {
    #RightBar{
        position: absolute;
        top:-14px;
        width: 15%;
        margin-right: 2px;
        left: 88%;
        float: right;
    } 
    #navUl li{
        display: inline-block;
        top:-50px;
        left: 25%;
    }
    #urls{
        height: 40%;
        }
    #navUl li .place-swich{
        display: none;
    }
    #navUl li span{
        font-size: 18px;
        color:black;
        display: inline-block;
    }
    
    #menu li a{
        z-index: 5;
    }
    
}
@media only screen and (max-width: 500px) {
    #RightBar{
        width: 22%;
        left: 83%;
        
    }
s    #navUl li{
        display: inline-block;
        top:-50px;
        left: 35%;
    }
    #btn-yours,#btn-todays{
        width: 50%;
    }
    @media only screen and (max-width: 414px) {
    #RightBar{
        width: 26%;
        left: 80%;
        
    }
    #navUl li{
        display: inline-block;
        top:-50px;
        left: 40%;
        width: 35px;
    }
    #urls{
        height: 50%;
        }
    tr{
        margin-bottom: 10px;
        }
    
}
 @media only screen and (max-width: 320px) {
       #urls{
        height: 75%;
        } 
    }


